@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/LatoBold.woff2') format('woff2'),
  url('../fonts/LatoBold.woff') format('woff'),
  url('../fonts/LatoBold.ttf') format('truetype');
}
@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/LatoLight.woff2') format('woff2'),
  url('../fonts/LatoLight.woff') format('woff'),
  url('../fonts/LatoLight.ttf') format('truetype');
}
@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/LatoRegular.woff2') format('woff2'),
  url('../fonts/LatoRegular.woff') format('woff'),
  url('../fonts/LatoRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'VarelaRound';
  src: url('../fonts/VarelaRound.woff2') format('woff2'),
  url('../fonts/VarelaRound.woff') format('woff'),
  url('../fonts/VarelaRound.ttf') format('truetype');
}
