// fonts
$latobold : 'LatoBold', sans-serif;
$headerfont : 'LatoBold', sans-serif;
$latolight : 'LatoLight', sans-serif;
$latoregular : 'LatoRegular', sans-serif;
$varelaround : 'VarelaRound', sans-serif;



// colors
$blue : #267df4;
$green : #6fc754;
$gray: #8c8f94;
$white: #fff;
